* {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
    overflow: hidden;
}

.sections,
.section {
    height: 100%;
    width: 100%;
    color: #FFFFFF;   
}

.sections {
    position: absolute;
}

.section{
	overflow: hidden;
	position: relative;
}
/*点*/
.pages {
	text-align: center;
    position: fixed;
    list-style: none;
}

.vertical.pages {
    right: 15px;
   /* top: 40%;*/
    width: 30px;
    height: 0px;
    margin-top: 35%;
    margin-top: 35vh;
}

.horizontal.pages {
	height: 30px;    
    bottom: 15px;
}

.horizontal.pages li{
	float: none;
}

.pages li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    margin: 10px 5px;
    cursor: pointer;
    float: none;
}

.horizontal.pages li {
    display: inline-block;
    vertical-align: middle;
}

.pages li.active {
    width: 14px;
    height: 14px;
    border: 2px solid #fffe00;
    margin: 10px 0px 10px 5px;
    background: none;
    margin-left: 0;
}
/*点*/
/*按钮*/
.btnControl{
	/*opacity: .2;*/
}

.btnControl.vertical{
		
}
.btnControl.horizontal{
	
}

.btnControl > div > a{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	border-radius: 3px;
	opacity: .35;
	background-color: #000;
	color: #FFFDEF;
	text-align: center;
	font-size: 45px;
	font-size: 4.5vmin;
}

.btnControl.vertical > .btn-left,
.btnControl.vertical > .btn-right{
	width: 26%;
	/*width: 26vw;*/
	padding: 0px 15px;
	position: absolute;
	left: 36%;
}

.btnControl.vertical .btn-left{
	top: 0px;
}

.btnControl.vertical .btn-right{
	/*bottom: calc(5% + 30px);*/
	bottom: 0px;
}

.btnControl.horizontal > .btn-left,
.btnControl.horizontal > .btn-right{
	width: 4%;	
	padding: 0px;	
	position: absolute;
	top: 35%;
}

.btnControl.horizontal .btn-left{
	left: 0px;
}

.btnControl.horizontal .btn-right{
	right: 0px;
}

.btnControl.horizontal > div >a {
	padding: 100% 0px;
}